@import './base.css';

header {
  @media (min-width: 1024px) {
    display: flex;
  }
  @media (max-width: 1024px) {
    background: var(--color-background);
    padding-left: 0;
  }
}
main {
  @media (min-width: 1024px) {
    padding: 0 6rem 1rem 6rem;
  }
}

.primary-button {
  background-color: var(--color-background);
  border: 1px solid var(--pt-fourth-color);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.primary-button:active {
  background-color: var(--pt-third-color);
  padding: 0.6rem;
  opacity: 1;
  transition: 0.3s;
}
